body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/parcel.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.caption {
  font-size: 3rem;
  font-weight: 300;
  color: white;
  font-family: "Andale Mono", AndaleMono, monospace;
  align-self: center;
  margin: auto;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10%;
  align-self: center;
}

.form-holder {
  box-shadow: rgb(0, 0, 0) 0px 2px 4px;  
  z-index: 1;
  width: 350px;
  height: 250px;
  padding: 5px;
  border-radius: 5%;
  background: white;
  align-self: center;
  background: rgb(189, 190, 194);
}
