.new-order-form form {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 2%;
}

.new-order-form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

form input {
  width: 90%;
  height: 30px;
  margin:5px 0px;
  padding-left: 6%;
  flex-wrap: wrap;
}

form button {
  margin:5px 5px;
  padding:2px 2px;
  border-radius: 9px;
  height: 35px;
  width: 35%;
  align-self: center;
  font-size: 1em;
}

#googleMap {
  width: 60%;
  margin-top: 2%;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media all and (max-width:550px) and (min-width:0px) {
  .main-content {
    height: auto !important;
  }
  .header {
    min-height: 160px !important;
  }
  #googleMap {
    height: 350px;
    width: 350px;
    margin-bottom: 10px;
  }
  .new-order-form {
    margin-left: 7%;
  }
  .new-order-form form {
    width: 100%;
  }
  .new-order-form {
    width: 100%;
    
  }
  form button {
    margin:5px 5px;
    padding:2px 2px;
    border-radius: 9px;
    height: 40px;
    width: 35%;
    align-self: center;
    font-size: 1em;
  }
  .footer {
    min-height: 160px !important;
  }
}