.description {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  margin-left: 20%;
  font-size: 1.2em;
  background: white;
  width: 50%;
  padding: 1em 1em;
  border-radius: 10px;
  line-height: 1.2 !important;
}

hr {
  color: black !important;
}

.description-child {
 width: 90%
}

.change-destination, .change-status {
  padding: 15px;
  font-size: 20px;
}

ul {
  max-width: 225px !important;
}

.title {
  float: left;
  margin-left: 95px;
}

.info {
  float: right;
  margin-right: 95px;
}

.cancel-order {
  background-color: red;
  padding: 15px;
  font-size: 20px;
}

button {
  font-size: 0.5em;
  border-radius: 9px;
  padding: 2px;
}

#font-awe {
  font-size: 0.8em;
  margin:2px;
  padding: 2px;
}

.fieldset {
  font-size: 0.8em;
}

#button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding:10px;
}

#button-link {
  margin: 8px;
}

@media all and (max-width:550px) and (min-width:0px) {
  .description {
    width: 80%;
    margin-top: 25%;
    margin-left: 1%;
  }
  button {
    font-size: 0.5em !important;
    height: 60%;
    text-align: center;
  }
}